body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #7C9158 ; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.splash-screen {
    text-align: center;
    padding: 20px;
    background-color: #004171; 
    color: #FFFFFF; 
    border-radius: 8px;
    font-size: 1.5em;
    box-shadow: 10px 5px 5px black;
}

.content {
    max-width: 400px;
    margin: 0 auto;
}

.content img {
    max-width: 100%;
    height: auto;
    width: 100px;
    height: 100px;
    margin-bottom:-10px;
}

.content h1 {
    font-size: 1.8em;
    margin-top: 20px;
}

.content text {
    font-size: 1.2em;
    line-height: 1.6;
}
.content .subtext{
    font-size: 0.5em;
}

.content a {
    color: #7C9158;
    text-decoration: none;
    font-weight:700;
}
